body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 80vh;
  max-width: 960px;
  margin: auto;
  background: white;
}

.navbar-header {
  background: linear-gradient(#25523b, #25523b, #0c3823);
  box-shadow: 0px 4px rgba(109, 140, 116, 0.5);
  height: fit-content -10;
}

.link-text {
  font-size: 0.75rem;
  text-transform: capitalize !important;
}
